* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #2c3e50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15vh;
  height: 50px;
  font-size: 18px;
}
.header-right {
  padding: 0 8vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6vh;
  background-color: #18bc9c;
}
.hero-bottom {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 25px;
  font-size: 20px;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  background-color: whitesmoke;
}

.email-both {
  display: inline flex;
  padding: 2vw;
}

.email-input input {
  width: 350px;
  height: 40px;
  border-radius: 1px;
  padding-right: 5px;
  border-radius: 4px;
  border-color: white;
}
.email-subscribe button {
  background-color: #18bc9c;
  color: white;
  padding: 10px 20px;
  border: none;
  height: 40px;
  cursor: pointer;
  margin-left: 4px;
  border-radius: 4px;
}

.email-grass {
  color: #6f6b6b;
  padding: 2vw;
  font-size: 30px;
  text-align: center;
  background-color: whitesmoke;
}

.card {
  display: flex;
  flex-wrap: wrap;
  padding: 0 14vh;
  justify-content: space-evenly;
  background-color: whitesmoke;
}
.card-b {
  display: flex;
  flex-wrap: wrap;
  padding: 0 14vh;
  justify-content: space-evenly;
  background-color: whitesmoke;
  padding-bottom: 50px;
}
.card-1:hover {
  background-color: #18bc9c;
  transition: all 0.2s ease-in-out;
}
.card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 48vh;
  justify-content: space-around;
  padding: 43px;
  text-align: center;
  background-color: #fff;
  margin: 1vh;
  box-shadow: 0 0 2px 1px #f1f1f1;
  border-radius: 5px;
}

.card-1 img {
  border-radius: 50%;
}

.card-1-p1 {
  font-size: 27px;
  color: #383535;
  font-family: revert;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 39vh;
  background-color: #2c3e50;
}

.footer-1 {
  color: white;
  padding: 40px;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.footer-head {
  font-size: 20px;
  color: white;
  font-weight: bolder;
  padding: 5px;
}

.footer-para {
  font-size: 13px;
  font-weight: 100;
  padding: 5px;
}

.footer-1 a {
  font-size: 13px;
  color: #428bca;
  text-decoration: none;
  
}
